{% extends 'base.html' %}

{% block content %}
    <h2>Lista de Clientes</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Telefone</th>
        </tr>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.cli_nome }}</td>
            <td>{{ cliente.cli_email }}</td>
            <td>{{ cliente.cli_telefone }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
