{% extends 'base.html' %}

<!-- Lista de Produtos -->
{% block content %}
    <h2>Lista de Produtos</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
        </tr>
        {% for produto in produtos %}
        <tr>
            <td>{{ produto.id }}</td>
            <td>{{ produto.pro_nome }}</td>
            <td>{{ produto.pro_descricao }}</td>
            <td>R$ {{ produto.pro_preco }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
